.form {
  background-color: #f9eabc;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
}

.form_group {
  margin-bottom: 30px;
}

.form_group input {
  width: 100%;
  background-color: transparent;
  padding: 7px 20px;
  border: none;
  border-bottom: 1px solid rgba(33,34,69,.2980392156862745);
}
.form_group input:focus {
  outline: none;
}

@media (max-width: 992px) {
  .form {
    width: 100%;
  }
}