.skeleton {
  background-color: rgb(249, 234, 188);
  margin: 0.75rem 0;
  border-radius: 0.25rem;
}

.skeleton.title {
  height: 1.25rem;
  margin-bottom: 1rem;
}

.skeleton.text {
  height: 0.75rem;
}

.skeleton.image {
  position: relative;
}
.skeleton.image::before {
  content: '';
  display: block;
  padding-top: 50%;
}

.skeleton.width-100 {
  width: 100%;
}

.skeleton.width-50 {
  width: 50%;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
