/* hero section */
.hero_title {
  font-size: 2.5rem;
  line-height: 55px;
}

.hero_title span {
  color: var(--gold-color, #eeb808);
}

.hero_content {
  padding-top: 70px;
}

.hero_content p {
  font-size: 1rem;
  line-height: 30px;
}

.hero_btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.shop_btn {
  background-color: var(--blue-color, #103755);
  color: #fff;
  transition: 0.3s;
}

.shop_btn:hover {
  background-color: var(--gold-color, #eeb808);
}

.all-products-btn {
  background: transparent;
  border: 1px solid var(--blue-color, #103755) !important;
}

.all-products-btn a,
.all-products-btn a:hover {
  color: var(--blue-color, #103755);
}

.hero_service p {
  color: var(--gold-color, #eeb808);
  font-weight: bold;
  font-size: 0.9rem;
}

.shipping_icon i {
  padding: 5px;
  background: var(--blue-color, #103755);
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
}

@media (max-width: 992px) {
  .hero_title {
    font-size: 1.7rem;
    line-height: 40px;
  }

  .hero_content {
    padding-top: 60px;
  }

  .hero_btns button {
    padding: 7px 12px;
  }

  .hero_service p {
    line-height: 15px;
  }

  .shipping_icon i {
    padding: 5px;
    background: var(--blue-color, #103755);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
  }
}

.feature_subtitle,
.feature_title span {
  color: var(--gold-color, #eeb808);
}

.feature_title {
  color: var(--blue-color, #103755);
}

.feature_item img {
  width: 80px !important;
  height: 80px;
}

@media (min-width: 576px) {
  .feature_item img {
    width: 120px !important;
    height: 120px;
  }
}

@media (min-width: 992px) {
  .feature_item img {
    width: 190px !important;
    height: 190px;
  }
}

/* popular products */
.products_category {
  background-color: var(--gold-color, #eeb808);
  text-align: center;
  margin-top: 30px;
  padding: 20px 7px;
  border-radius: 8px;
}

.products_category button {
  border: none;
  outline: none;
  padding: 6px 20px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.products_category .productBtnActive {
  background: #fff;
  border-radius: 5px;
  color: var(--gold-color, #eeb808);
}

@media (max-width: 768px) {
  .products_category button {
    padding: 6px 10px;
    font-size: 1rem;
  }
}

/* Choose Us Section */
.choose-us-title {
  color: var(--blue-color, #103755);
  font-weight: 600;
  margin-bottom: 10px;
}

.choose-us-title i {
  color: var(--gold-color, #eeb808);
  font-weight: 500;
}

/* Testimonial Section */
.testimonial {
  overflow: hidden;
}
.testimonial p {
  line-height: 30px;
}

.more-products {
  font-weight: 600;
  color: var(--blue-color, #103755);
  text-decoration: underline !important;
}
