.product_item {
  text-align: center;
  padding: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.425);
  transition: 0.3s;
}

.product_item:hover {
  transform: translateY(-10px);
}

.product_item img {
  width: 120px;
  height: 120px;
}

.product_img {
  margin-bottom: 20px;
}

.product_img img {
  object-fit: contain;
  transition: 0.3s;
}

.product_img:hover img {
  transform: scale(1.2);
}

.product_content h5 {
  margin: 35px 0;
}

.product_content h5 a {
  color: #212245;
  font-size: 1rem;
  display: block;
  transition: 0.3s;
  padding: 8px 0;
  border: 2px solid transparent;
  position: relative;
}

.product_item:hover .product_content h5 a {
  color: var(--gold-color, #eeb808);
  transform: translateY(3px);
  border-color: var(--gold-color, #eeb808);
}
.product_item .product_content h5 a:hover {
  /* color: var(--blue-color, #103755); */
  color: #fff;
}


.product_content h5 a::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--gold-color, #eeb808);
  transition: 0.3s;
  transition-timing-function: ease-in-out ;
}

.product_item .product_content h5 a:hover::after {
  width: 100%;
}

.product_price {
  font-weight: 600;
  color: var(--gold-color, #eeb808);
  font-size: 1.2rem;
}

.addToCart_btn {
  border: none;
  padding: 7px 25px;
  color: #fff;
  background-color: var(--gold-color, #eeb808);
  border-radius: 5px;
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  .product_item {
    padding: 20px;
  }

  .addToCart_btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {

  .product_content h5 a,
  .addToCart_btn {
    font-size: 0.9rem;
  }
}