:root {
  --gold-color: #eeb808;
  --blue-color: #103755;
}

.text-gold {
  color: var(--gold-color, #eeb808);
}

.text-blue {
  color: var(--blue-color, #103755);
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* reset default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */
body {
  background-color: #fcfcfc !important;
  font-family: 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none !important;
}

h1,
h2 {
  color: var(--blue-color, #103755);
  font-size: 2.1rem;
  font-weight: 600;
}

section {
  padding: 60px 0;
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}

p {
  color: #777;
}

/* Customize ScrollBar */
/* 
Webkit based browsers (Chrome, Safari, Opera) 
moz for 

*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--gold-color, #eeb808);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color, #103755);
}

::-webkit-scrollbar-button {
  display: block;
  height: 10px;
  width: 100%;
  background-color: var(--blue-color, #103755);
}

/* For Firefox */
::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-track {
  background-color: var(--gold-color, #eeb808);
}

::-moz-scrollbar-thumb {
  background-color: var(--blue-color, #103755);
}

::-moz-scrollbar-button {
  display: block;
  height: 10px;
  width: 100%;
  background-color: var(--blue-color, #103755);
}
