.review_text {
  line-height: 30px;
  margin: 40px 0;
}

.slider_content img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .review_text {
    font-size: 0.8rem;
    margin: 20px 0;
  }

  .slider_content img {
    width: 35px;
    height: 35px;
  }
  .slider_content h6 {
    font-size: 0.8rem;
  }
}